/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Onest', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .highlight{
    color:#fff;
  }
  
  /* Logo */
  .logo {
    position: absolute;
    top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #15EBFA;
  }

  .container::before {
    content: "";
    display: block;
    width: 100%; /* La línea tendrá el mismo ancho que el texto */
    height: 1px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    position: relative;
    bottom: 6em;
  }
  
  /* Container */
  .container {
    text-align: center;
  }
  
  /* Wrapper for alignment */
  .login-wrapper {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Login Box */
  .login-box {
    width: 100%;
    padding: 5% 35%;
    border: 1px solid #15EBFA;
    border-radius: 10px;
    background-color: #000;
    position: relative;
    
  }
  
  .login-box h1 {
    background-color: #15EBFA;
    
    font-weight: 100;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: -1em; /* Ajustado para mitad fuera y mitad dentro */
    
    width: 40%;
    transform: translateX(-50%);
    margin: 0;

  }
  
  .login-box h2 {
    margin: 1em 0 2em 0;
    font-size: 1.3em;
    color: #aaa;
  }
  
  form, .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    
  }

  form{
    gap: 2.1em;
  }
  
  label {
    text-align: left;
    font-size: 16px;
  }
  
  input {
    border: 1px solid #15EBFA;
    border-radius: 10px;
    padding: 15px;
    background-color: #000;
    color: #15EBFA;
    outline: none;
    font-size: 16px;
  }
  
  input::placeholder {
    color: #15EBFA;
    opacity: 0.8;
  }
  
  button {
    background-color: #15EBFA;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #000;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #13D2DA;
  }
  